node_modules/
pos-app/node_modules/
backend-nestjs/node_modules/
online-ordering-app/node_modules/

pos-app/src/environments/
online-ordering-app/src/environments/

build/
/.pnp
.pnp.js
/coverage
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env-cmdrc.json
online-ordering-app/.angular/cache/
pos-app/.angular/cache/
backend-nestjs/dist/
backend-nestjs/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
