version: "3.8"

services:
  api:
    build: .
    container_name: nest_api
    ports:
      - "${PORT}:${PORT}"
    environment:
      PORT: ${PORT}

      # Firebase Admin credentials
      FIREBASE_PROJECT_ID: ${FIREBASE_PROJECT_ID}
      FIREBASE_CLIENT_EMAIL: ${FIREBASE_CLIENT_EMAIL}
      FIREBASE_PRIVATE_KEY: ${FIREBASE_PRIVATE_KEY}

    restart: always
